/* Resets */
body,
p,
ul {
  margin: unset;
  padding: unset;
  font-size: unset;
  font-weight: unset;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Layouts */
.contents {
  max-width: 1920px;
  margin: 0 auto;
}

.l_wrapper {
  /* box-shadow: inset 0 0 20px red; */
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

/* Typography */
:root {
  font-family: var(--font-en);
  font-size: 10px;

  /* 한글 폰트에만 적용! */
  /* word-break: keep-all;
  overflow-wrap: break-word; */
}

/* CSS Variables */
:root {
  /* Fonts */
  --font-en: "Montserrat";

  /* Color */
  --color-black: #111111;
  --color-gray-80: #333333;
  --color-gray-50: #999999;
  --color-gray-30: #eeeeee;
  --color-ivory: #fff5ed;
  --color-white: #ffffff;

  --color-coral: #f98173;
  --color-orange: #ff4500;
  --color-violet-50: #ebdbff;
  --color-violet-70: #c89dff;
  --color-violet-90: #6230a2;
}

/* Components */
.section {
  /* box-shadow: inset 0 0 60px rgb(226, 43, 110); */
  background-color: var(--color-violet-90);

  padding: 100px 0;
}

.section.type_purple {
  background-color: var(--color-violet-90);
}

.section.type_ivory {
  background-color: var(--color-ivory);
}

.container-header {
  /* box-shadow: inset 0 0 20px yellow; */
  display: flex;
  column-gap: 144px;
  align-items: center;
  margin-bottom: 100px;
}

.header-title {
  /* box-shadow: inset 0 0 20px yellow; */
  font-size: 40px;
  font-weight: 500;
  color: var(--color-white);
  min-width: 258px;
  flex-basis: 0;
  /* width: fit-content; */
}

/* 🌱 ivory section's title */
.header-title.coral {
  font-weight: 500;
  min-width: 360px;
  color: var(--color-coral);
}

/* .header-title strong {
  font-weight: 700;
} */

/* ❓🕊️ */
.highlight {
  display: inline-block;
  width: fit-content;
  font-weight: 700;
}

.highlight.strong::after {
  content: "";
  display: block;
  background-color: var(--color-orange);
  height: 26px;
  margin-top: -25px;
}

/* 🌱 ivory section's title */
.highlight.light::after {
  content: "";
  display: block;
  background-color: var(--color-white);
  height: 26px;
  margin-top: -25px;
}

.header-description {
  /* box-shadow: inset 0 0 20px rgb(0, 94, 255); */
  color: var(--color-violet-70);
  font-weight: 400;
  font-size: 14px;
  width: 460px;

  /* Typography */
  height: calc(1.22em * 4);
  line-height: 1.22;

  /* ⭐️ */
  position: relative;
}

.header-description::before {
  content: " ";
  display: inline-block;
  background-color: currentColor;
  height: 1px;
  width: 90px;

  /* ⭐️ */
  position: absolute;
  left: 0;
  /* margin-top 고정픽셀 주지 말고 직관적으로. */
  top: 50%;
  margin-left: -120px;
}

.item {
  /* box-shadow: inset 0 0 20px green; */
  display: flex;
  flex-direction: row;
}

/* ❓ 왜 안먹히지?? */
/* .item:nth-child(even) {
  flex-direction: row-reverse;
} */

.item.right {
  flex-direction: row-reverse;
}

.item-header {
  aspect-ratio: 280/148;
  width: 280px;
  flex-shrink: 0;

  /* 🌼 */
  position: relative;
  z-index: 0;
}

.item-header::before {
  /* box-shadow: inset 0 0 20px blue; */
  content: " ";
  background-color: var(--color-black);

  /*  🌼  */
  position: absolute;
  inset: 0;
  z-index: -1;

  opacity: 0.4;
}

.item-header h2 {
  /* box-shadow: inset 0 0 20px blue; */
  font-size: 3.2rem;
  color: var(--color-white);

  /* 🌼 */
  position: absolute;

  /* ❓왜 적용이 안 될까?? => 🕊️ width & height를 주지 않아서!! */
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;

  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.item-header .pros-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* 🌼 */
  position: absolute;
  inset: 0;
  z-index: -2;
}

.item-main {
  background-color: var(--color-white);
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;

  padding: 16px 22px 21px;
  padding-bottom: 21px;
}

.item-main h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-violet);

  margin-bottom: 14px;
}

.item-main .list {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22em;
  color: var(--color-black);
  margin-bottom: 12px;
  padding-left: 20px;

  /* 🍰 */
  position: relative;
  /* box-shadow: inset 0 0 20px rgb(118, 225, 12); */
}

.item-main .list:last-child {
  margin-bottom: 0;
}

.list::before {
  content: "";
  display: inline-block;
  background-color: var(--color-violet-70);
  width: 10px;
  height: 10px;
  border-radius: 50%;

  /* 🍰 */
  position: absolute;
  inset: 0;
  margin: auto 0;
  /* left: 0;
  top: 50%;
  transform: translateY(-50%); */

  /* content: "·";
  color: var(--color-light-violet);
  font-size: 40px;
  height: 17px;
  line-height: 17px;
  width: 17px;
  vertical-align: middle; */
}

.pros {
  /* box-shadow: inset 0 0 20px rgb(118, 225, 12); */
  /* ❓ flex-box써서 갭 주는게 나을까? Margin-bottom 주는 게 나을까? */
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.pros-item {
  /* box-shadow: inset 0 0 20px rgb(92, 21, 13); */
  min-height: 148px;
  /* margin-bottom: 30px; */
}

/* .pros-item:last-child {
  margin-bottom: 0;
} */

.button {
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;

  background-color: var(--color-orange);
  color: var(--color-white);

  height: 48px;
  line-height: 48px;

  padding: 0 14px;
  border-radius: 4px;
  margin-left: auto;
}

.l_grid {
  /* box-shadow: inset 0 0 20px red; */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* 밑에 코드 없어도, grid-auto-rows: auto에 의해 내부 콘텐츠 만큼 자동 동기화되어
  그리드 아이템(카드)자체에 height: 100%을 안해도 된다!! */
  grid-template-rows: repeat(1, minmax(593px, 1fr));
  gap: 30px;
}

.grid-item {
  background-color: var(--color-white);
  box-shadow: 0 0 12px 0 rgb(0 0 0/ 0.1);

  display: flex;
  flex-direction: column;
}

.grid-header {
  aspect-ratio: 340/255;

  /* 💛 */
  position: relative;
}

.tool-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 4px solid var(--color-black);
}

.sold-out-badge {
  width: 110px;
  height: 110px;
  /* 💛 */
  position: absolute;
  inset: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.grid-contents {
  /* box-shadow: inset 0 0 20px red; */
  padding: 20px;
  /* flex-grow: 1; */
}

.skill-type {
  display: flex;
  column-gap: 4px;
  margin-bottom: 20px;
}

.skill-type a {
  background-color: var(--color-violet-50);
  color: var(--color-violet-90);

  font-size: 1.4rem;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  border-radius: 12px;
  padding: 0 12px;
}

.grid-contents h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.grid-contents p {
  color: var(--color-gray-80);
  font-size: 14px;
  line-height: 1.6em;
}

.grid-footer {
  /* box-shadow: inset 0 0 20px rgb(0, 36, 128); */
  /* padding: 14px 18px 14px 22px; */
  padding: 0 22px;
  margin-top: auto;
  display: flex;
  align-items: center;
  column-gap: 40px;
  overflow: hidden;
  flex-basis: 60px;
}

.grid-footer h5 {
  /* box-shadow: inset 0 0 20px rgb(0, 36, 128); */
  font-size: 14px;
  color: var(--color-gray-50);
  /* 🩷 */
  position: relative;
}

.grid-footer h5::before {
  content: "";
  display: block;
  background-color: var(--color-gray-30);
  width: 320px;
  height: 4px;

  /* 🩷 */
  position: absolute;
  inset: 0;
  /* ❓❓❓ margin-bottom: 30px로 주는 순간, 선의 높이(4px)가 줄어든다. 
  => footer의 높이가 내부 콘텐츠 높이만큼만 주어져서 Closed 부분은 먹히는 것. */
  margin-top: -20px;
}

.members {
  margin-left: auto;
}

.members img {
  width: 30px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: -10px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.25);
}

@media (max-width: 800px) {
  .section {
    padding: 60px 0px;
  }

  .container-header {
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
    margin-bottom: 50px;
  }

  .header-title {
    width: 460px;
    font-size: 36px;
  }

  .container-header .button {
    margin-left: unset;
  }

  .header-description::before {
    width: 200px;
    height: 2px;

    margin-left: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-top: -10px;
  }

  .list {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .list::before {
    left: 0;
    top: 0;
    /* 위아래 마진 다시 0으로 초기화 */
    margin: 0;
    /* y축: 밑으로 내려온다 - 양수. */
    transform: translateY(50%);
  }

  .l_grid {
    grid-template-columns: repeat(2, minmax(0, 340px));
    grid-template-rows: repeat(2, minmax(593px, 1fr));
    justify-content: center;
  }

  .grid-contents p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;

    overflow: hidden;
  }
}
